In [1]:
import mysql.connector

In [2]:
db = mysql.connector.connect(
host="localhost", user="root", passwd="CYFStudent@123")

In [3]:
mycursor = db.cursor()

In [22]:
#mycursor.execute("CREATE DATABASE testdatabase")

In [4]:
mycursor.execute("USE girrafe")

In [5]:
mycursor.execute("SELECT * FROM employee")

In [6]:
for x in mycursor:
    print(x)

(100, 'David', 'Wallace', datetime.date(1967, 11, 17), 'M', 250000, None, 1)
(101, 'Jan', 'Levinson', datetime.date(1961, 5, 11), 'F', 110000, 100, 1)
(103, 'Angela', 'Martin', datetime.date(1971, 6, 25), 'F', 63000, None, None)
(104, 'Kelly', 'Kapoor', datetime.date(1980, 2, 5), 'F', 55000, None, None)
(105, 'Stanley', 'Hudson', datetime.date(1958, 2, 19), 'M', 69000, None, None)
(106, 'Josh', 'Porter', datetime.date(1969, 9, 5), 'M', 78000, 100, 3)
(107, 'Andy', 'Bernard', datetime.date(1973, 7, 22), 'M', 65000, 106, 3)
(108, 'Jim', 'Halpert', datetime.date(1978, 10, 1), 'M', 71000, 106, 3)
(109, 'test', 'test', datetime.date(1999, 3, 3), 'F', 300000, None, 3)
(110, 'test2', 'test2', datetime.date(1990, 2, 2), 'F', 670000, None, 3)
(111, 'trigger working!', 'test3', datetime.date(1980, 2, 2), 'M', 60000, None, 3)
(112, 'another trigger for male/female', 'test4', datetime.date(2000, 2, 2), 'F', 90000, None, 3)

In [7]:
mycursor.execute("DESCRIBE employee")

In [8]:
for x in mycursor:
    print(x)

('emp_id', b'int', 'NO', 'PRI', None, '')
('first_name', b'varchar(40)', 'YES', '', None, '')
('last_name', b'varchar(40)', 'YES', '', None, '')
('birth_day', b'date', 'YES', '', None, '')
('sex', b'varchar(1)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')
('super_id', b'int', 'YES', 'MUL', None, '')
('branch_id', b'int', 'YES', 'MUL', None, '')

In [11]:
#mycursor.execute("CREATE TABLE Person (name VARCHAR(20), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")

In [13]:
mycursor.execute("DESCRIBE Person")

In [14]:
for x in mycursor:
    print(x)

('name', b'varchar(20)', 'YES', '', None, '')
('age', b'smallint unsigned', 'YES', '', None, '')
('personID', b'int', 'NO', 'PRI', None, 'auto_increment')

In [19]:
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)", ("Joe", 22))

In [20]:
db.commit() #database.commitchanges

In [21]:
mycursor.execute("SELECT * FROM Person")

In [22]:
for x in mycursor:
    print(x)

('tim', 19, 1)
('Joe', 22, 2)